<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">

  <p>{{site.author.bio}}</p>

  <ul id="sbLinks">
    <li><i class="fa fa-info-circle"></i> <a href="{{ site.BASE_PATH }}/guide">__init__</a></li>
	  <li><i class="fa fa-archive"></i> <a href="{{ site.BASE_PATH }}/archive">Blog</a></li>
	  <li><i class="fa fa-search"></i> <a href="{{ site.BASE_PATH }}/search">Search</a></li>
  </ul>
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}" target="_blank">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" title="PyBites blog" href="{{ site.PYBITES }}" target="_blank">
				<i class="fa icon-python fa-lg-ow"></i>
			</a>
		</li>
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}" target="_blank">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.fbgroup }}" target="_blank">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>

<!-- sidebar.html end -->
